body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {

    padding: 10px 0;
    margin: 10px 20px 10px 20px;
    background-color: aqua;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 10px 20px 10px 20px;

}

nav ul li a {
    background: lightgoldenrodyellow;
    text-decoration: none;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    text-align: left;
    border-radius: 5px 5px 5px 5px;
    color: maroon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.herosimg{
    text-align: right;
    margin: 0px 40px 10px 0px;
    list-style: none;
    display: flex;


}
.herostext{
    text-align: center;

}
.herostext a{
    background: gray;
    color: white;
    margin: 5px 5px 5px 5px;
    padding:  5px 5px 5px 5px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem  ;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 40px 20px;
    background: white;
    text-align: center;
}

.hero h1 {
 
    font-family: Georgia, 'Times New Roman', Times, serif;

    text-align: center;
}

.hero button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background:white;
    color: black;
}

.feature {
    text-align: center;
    border-color:rgb(13, 114, 26);
    background:rgb(191, 250, 250);
    border-style: groove;
    border-radius: 10px 20px 10px 20px;
    margin: 10px 50px 10px 50px;
    padding:  50px 50px 50px 50px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem aqua;
   

}
.feature h2 a{
    color: black;
    text-decoration: none;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: white;
}

.product {
    text-align: center;
    text-align: center;
    border-color: rgb(21, 95, 7);
    background: rgb(183, 241, 252);
    border-style: groove;
    border-radius: 10px 20px 10px 20px;
    margin: 10px 100px 10px 100px;
    padding:  10px 50px 10px 50px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem  white;
}
.product a{
    text-decoration: none;

}

footer {
    background-color: black;
    color: black;
    text-align: center;
    padding: 10px 0;
}

footer .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .app-download button {
    background-color: white;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
.app-download a{
    background: white;
    color: black;
    margin: 5px 5px 5px 5px;
    padding:  5px 5px 5px 5px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem  white;
    text-decoration: none;

}
.app-download h3{
    color: white;
}
.footer-bottom{
    color: white;
}
.social-icons a{
    background: white;
    color:black;
    margin: 5px 5px 5px 5px;
    padding:  5px 5px 5px 5px;
    cursor: pointer;
    transition: all 2s;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem  white;
    text-decoration: none;
}   


